body{
    background: #292626!important;
    color: #ffffffb4!important;
    font-size: 1.8em!important;
}
.container{
    background: #383838;
    margin: 5%;
    padding: 2%;
    border-radius: 40px;
}
p,h1{
    padding: 0 2% 0 2%;
}
a{
    color: #f5b357!important;   
}
a:hover{
    color: #f0c74d!important;
}
ul li::marker{
    color: #f5b357!important;
}
.white-on-black{
    display: inline-block!important;
    color:#fff;
    background: #000;
    border-radius: 5px!important;
    padding: 0 5px 5px 5px!important;
}
.black-on-white{
    display: inline-block!important;
    color:#000;
    background: #fff;
    border-radius: 5px!important;
    padding: 0 5px 5px 5px!important;
}